{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <style>
            p, h1, h2, ul li {
                font-family: Arial;
            }
            
            .thelinkedin, .thegithub, .thetwitter {
                text-decoration: none;
            }

        </style>
    </head>
    <body>
        <h1>About JaMs Event</h1>
        
        <p>Welcome to JaMs Event – Your Premier Destination for All Things Events!</p>
        
        <h2>Who We Are</h2>
        
        <p>At JaMs Event, we're passionate about bringing people together through the magic of events.
            Whether it's a local meetup, a global conference, a virtual seminar, or a grand celebration,
            we believe that events have the power to inspire, educate, and connect individuals from all walks of life.
        </p>
        
        <h2>Our Mission</h1>
        
            <p>At JaMs Event, we're on a mission to simplify the complexities of planning, organizing, and executing
             events of all sizes and types. We believe in making event management an enjoyable and stress-free experience.
        </p>
        
        <h2>What We Offer</h2>
        <ul>
            <li>Event Listings: Discover a diverse range of events from around the world. Whether you're interested in tech 
                conferences, art exhibitions, or local meetups, you'll find them all here.</li>
            <li>User Profiles: Create your own user profile to stay updated with your favorite events,
                connect with like-minded individuals, and build your event network.</li>
            <li>Event Creation: If you're an event organizer, JaMs Event makes it easy to 
                promote your event and connect with your target audience. You can also update and 
                manage your event details effortlessly.</li>
            <li>User Engagement: Join discussions, share experiences, and make connections with 
                people who share your interests.</li>
            <li>Event Registration: Event attendees can register for events with ease, ensuring that organizers 
                know how many participants to expect.</li>
            <li>Event Updates and Deletion: Event organizers have the power to update event information to keep attendees informed.
                They can also delete events when needed.</li>
        </ul>
        
        <p>Our platform is designed to foster seamless interactions between event-goers and organizers.
            We believe that this two-way engagement is crucial
            in building thriving event communities.
        </p>
        
        <h2>Our Commitment</h2>
        <p>JaMs Event is committed to providing a user-friendly and reliable platform. We prioritize user privacy and data security.
            Our goal is to foster a welcoming and inclusive community for event enthusiasts and organizers alike.
        </p>
        <h2>Get Involved</h2>
        <p>Join us on this journey! Whether you're an event-goer, an event organizer, or someone who simply loves the thrill of 
            discovering and sharing experiences, we invite you to be part of our vibrant community.</p>
        <p>Let's celebrate, learn, and connect through the power of events. Get started on JaMs Event today 
            and make your event experiences unforgettable!</p>
        <h2>Connect with Us</h2>
        <p>Stay updated on the latest news and announcements:</p>
        
        <div class="socialhandles">
            <p>Nana Kofi Gyamera</p>
            <ul>
                <li><a class="thelinkedin" href="https://www.linkedin.com/in/nana-gyamera-b3a138143" target="_blank">LinkedIn</a></li>
                <li><a class="thegithub" href="https://www.github.com/Nanagyamera" target="_blank">Github</a></li>
            </ul>
        </div>
    </body>
</html>