<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1, ul {
                font-family: 'Bahnschrift Condensed', sans-serif;
                color: #333;
            }
            ul li {
                margin-bottom: 10px;
            }

        </style>
    </head>
    <body>
        <h1>Registered Attendees for {{ event.title }}</h1>

        <ul>
            {% for attendee in attendees %}
                <li>{{ attendee.user.username }}</li>
            {% empty %}
                <li>No attendees yet.</li>
            {% endfor %}
        </ul>
    </body>
</html>
