<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
        <style>
            .thehome {
                text-decoration: none;
                color: black;
            }
            
            .thehome:hover {
                color: #2196F3;
                font-size: 20px;
            }
            
            h1, p {
                font-family: Arial;
            }
        </style>
    </head>
    <body>
        <a  class="thehome" href="{% url 'eventHub-home' %}">Home</a>
        <h1>Success!</h1>
        <p>Thank you for your submission. Your request has been processed successfully.</p>
    </body>
</html>