<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
        <title>Success</title>
        <style>
            .thehome {
                text-decoration: none;
                color: #333;
            }
            
            .thehome:hover {
                color: #2196F3;
                font-size: 20px;
            }
            
            body {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>
    <body>
        <a  class="thehome" href="{% url 'eventHub-home' %}">Home</a>
        <h1>Success!</h1>
        <p>Thank you for your submission. Your request has been processed successfully.</p>
    </body>
</html>